body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(200, 255, 0);

}

section {
    display: flex;
    flex-direction: row;
}

article,
footer {
    /* background-color: rgb(130, 189, 47)  */
    background-color: rgb(200, 255, 0);
    opacity: 0.5;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;


    /* display: flex;
    gap: 8px; */
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: underline;
}